@page "/"

<PageTitle>Home</PageTitle>

<h1 class="display-4">Bem-vindo ao MPTaskManager!</h1>

<div class="bg-danger-subtle p-3 rounded">
    <p class="lead">Este é um gerenciador de tarefas simples, onde você pode:</p>
    <ul class="alert alert-info">
        <li class="fw-bold">Visualizar tarefas existentes</li>
        <li class="fw-bold">Editar tarefas existentes</li>
        <li class="fw-bold">Excluir tarefas existentes</li>
        <li class="fw-bold">Adicionar novas tarefas</li>
    </ul>
    
    <p>Para começar, clique em <strong><a href="/tasks">Tarefas</a></strong> e adicione uma nova tarefa.</p>
    <p>Caso já tenha tarefas cadastradas, você pode visualizá-las no calendário clicando em <strong><a href="/calendar">Calendário</a></strong>.</p>
</div>