@inherits LayoutComponentBase

<div class="page">
    <!-- Referência ao NavMenu -->
    <header>
        <NavMenu />
    </header>

    <!-- Main Content -->
    <main>
        <article class="content py-4 text-dark">
            @Body
        </article>
    </main>
</div>
